@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: #1C232E;
  width: 100%;
  margin: 0;
  padding: 0;
}

.title {
  background-color: #ED3B1D;
  padding: 8px;
  display: inline-block;
  color: white;
  margin: auto;
}

.subTitle {
  font-size: 15px;
}

.proPlayer {
  color: whitesmoke;
  font-weight: 700;
  width: min-content;
}

.proPlayer:hover {
  cursor: pointer;
}

.GameList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(57, 71, 96);
  justify-content: center;

}

.liveMatch:nth-child(-n+10) {
  width: 180px;
  padding: 10px;
}
.liveMatch:nth-last-child(-n+10) {
  width: 200px;
  padding: 10px;
}

img {
  width: 100px;
  height: 115.73px;
  object-fit: contain;
  border-radius: 5px;
}

.radiantPortrait {
  display: inline-block;
  width: 100px;
  height: auto;
  z-index: 10;
}

.direPortrait {
  display: inline-block;
  width: 100px;
  height: 115.73px;
  z-index: 10;
}

.direPortrait img {
  display: inline-block;
  width: 100px;
  height: 115.73px;
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  /* border: 2px solid lightblue; */
}

.feedContainer {
  padding: 7px;
}

.feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  background-color: #1C232E;
  grid-template-columns: min-content auto;
  }

  #grid1 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #grid2 { grid-area: 3 / 1 / 4 / 2; }
  #grid3 { grid-area: 4 / 1 / 5 / 2; }
  #grid4 { grid-area: 5 / 1 / 6 / 2; }
  #grid5 { grid-area: 6 / 1 / 7 / 2; }
  #grid6 {
    grid-area: 2 / 3 / 3 / 4;
    color: red;
  }
  #grid7 {
    grid-area: 3 / 3 / 4 / 4;
    color: red;
  }
  #grid8 {
    grid-area: 4 / 3 / 5 / 4;
    color: red;
  }
  #grid9 {
    grid-area: 5 / 3 / 6 / 4;
  }
  #grid10 {
    grid-area: 6 / 3 / 7 / 4;
  }
  #grid11 {
    grid-area: 2 / 2 / 7 / 3;
    margin-top: 220%;
    margin-left: 20%;
    font-weight: 700;
    font-size: 30px;
    color: rgb(162, 161, 161);
   }
  #grid12 {
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    color: #658D8C;
    margin-top: 90px;
    padding-left: 20px;
    font-weight: 500;
  }
  #grid13 {
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-weight: 700;
    color: rgb(52, 91, 91);
  }
  #grid14 { grid-area: 1 / 3 / 2 / 4; }
  #grid15 { grid-area: 7 / 1 / 8 / 2;
  position: relative;
  /* white-space: nowrap; */
  font-size: 12px;
  position:absolute;
  color: white;
}
  #grid16 {
    grid-area: 7 / 2 / 8 / 3;
    margin: auto;
    width: 100%;
    color: #658D8C;
  }
  #grid17 { grid-area: 7 / 3 / 8 / 4; }

.radiantPortrait {
  vertical-align: top;
}

 div[name="radiant"] {
  display: flex;
  justify-content: flex-start;
  color: #658D8C;
}

div[name="dire"] {
  display: flex;
  flex-direction: row-reverse;
  color: #658D8C;
}

.direPortrait {
  display: flex;
  justify-content: flex-end;
}

.liveMatchPlayerName {
  text-align: left;
  padding: 2px;
  min-width: 140px;
}

div[name="dire"] .liveMatchPlayerName {
  display: inline-block;
  justify-content: left;
  padding: 2px;
}
.proPlayer {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.normalPlayer {
  white-space: nowrap;
}

.time {
  font-size: 30px;
  color: rgb(119, 159, 158);
  text-align: center;

}
.scoreboard {
  font-size: 20px;
  text-align: center;
}

.notice {
  display: inline-block;
  color: rgb(125, 138, 138);
  padding-left: 10px;
  padding-bottom: 30  px;
  margin: auto;
}

.liveGamesWithPros {
  display: block;
  font-family: 'Montserrat';
  text-align: center;
  color: white;
  background-color: #2E3740;
  font-size: 30px;
  padding-left: 10px;
  margin: 20px 0px 20px;
}


.headerContainer {
  /* display: flex; */
  /* align-items: flex-start; */
  /* text-align: center; */
  justify-content: flex-start;
  background-color: #252F39;
}

.outerContainer {
  display: flex;
  justify-content: center;
}

.innerContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}